<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>I am Aryan Khurana, a student at Seneca College and am pursuing an Advanced Diploma in Computer Programming and Analysis. I am passionate about Computer Science and Software Development and my goal is to contribute to the society and work towards the betterment of Information Technology. I enjoy problem solving, challenges, researching and developing new technologies and creating software applications for different platforms.</p>
<p> I am always prepared to learn new things and gain new experiences. I enjoy meeting people and working with them in a team environment where I get to develop my skills and improve myself. I try my best to help people and usually try to keep communications open to achieve mutual understanding. I am open to strong opinions and encourage constructive criticisms.</p>
<p>My hobbies include sports such as basketball and soccer, reading personal development books, learning something new from the internet, music and playing instruments like guitar and the keyboard. </p>
</article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>I don't usually keep people in suspense, but when I do .....</p>
</aside>
</div>