<h2>Add Category</h2>
<br />
<form method="post" action="/categories/add">
<div class="form-group">
<label for="category">Category</label>
<input type="text" class="form-control" id="category" name="category">
</div><hr />
<input type="submit" class="btn btn-primary pull-right" value="Add Category" />
</form>
</div>
</html>